* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
}
  
.dish-image {
  height: 171px;
  object-fit: cover;
  width: 100%;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 2rem;
}
